Debug/*.o
Debug/*.out
Debug/*.map
Debug/*.d
Debug/*.d_raw
Debug/empty_yun*
Debug/device*
Debug/makefile
Debug/sources.mk
Debug/objects.mk
Debug/subdir_rules.mk
Debug/subdir_vars.mk
Debug/ccsObjs.opt
Debug/.clangd/
Debug/Event.dot
Debug/flash_test.jlink
Debug/true
Debug/verify.jlink
Debug/startup_*
.settings/
.codex/